@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scrollbar-width: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

.multiselect-blue {
    --ms-tag-bg: #dbeafe;
    --ms-tag-color: #2563eb;
}
